

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#output {
    padding-top: 10px;
}

#hiddenOutput {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    box-shadow: none;
    height: 2em;
    width: 2em;
    background: transparent;
}

#message {
    font-size: 8px;
}











